/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}


.course{
    width: 1030px;
    margin: 0 auto;
}
ul{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li{
    margin: 10px;
    width: 290px;
    white-space: normal;
    word-break: break-word;
}
li img{
    width: 290px;
}
.tag{
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}
.tag a{
    text-decoration: none;
    color: blue;
    font-size: 16px;
}
.tag .push{
    margin-left: 5px;
}
.tag .hot{
    display: block;
    color: white;
    font-size: 11px;
	width: 65px;
	padding: 7px;
	text-align: center;
    background-color: blue;
    border-radius: 20px;
    margin-left: 7px;
}
.tag-hot{
    margin-bottom: 1px;
}
li h2{
    font-size: 20px;
    line-height: 1.5;
}
li p {
    font-size: 11px;
    margin-top: 4px;
    margin-bottom: 8px;
    line-height: 1.5;
    color: gray;
}
.spacing{
    margin-bottom: 1px;
}
.link{
    display: block;
    color: gray;
    font-size: 11px;
	width: 65px;
	padding: 7px;
	text-align: center;
    background-color: white;
    border-radius: 20px;
    border: 1.5px solid gray;
    text-decoration: none;
}

body {
    font-family: "PingFang TC", sans-serif;
    font-weight: bold;
}
  